@import "@/assets/icons/iconfont.css";
@import url("@/assets/fonts/index.css");
@import url("@/assets/css/theme/index.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }
}

@layer utilities {
  .theme-light {
    --background: 219 11.3% 98%;
    --foreground: 0 0% 21.57%;
    --subtext: 215 14% 34%;
    --disabled: 218 11% 65%;
    --muted: 63 0% 87.69%;
    --muted-foreground: 0 0% 21.57%;
    --popover: 225 42% 98%;
    --popover-foreground: 225 71% 2%;
    --card: 225 0% 100%;
    --card-foreground: 0 0% 21.57%;
    --border: 225 15% 91%;
    --input: 225 15% 91%;
    --primary: 225 83% 57%;
    --primary-foreground: 0 0% 100%;
    --secondary: 225 0% 100%;
    --secondary-foreground: 225 4% 20%;
    --accent: 225 3.24% 93.64%;
    --accent-foreground: 225 4% 20%;
    --destructive: 3 84.62% 50%;
    --destructive-foreground: 3 0% 100%;
    --ring: 225 83% 57%;
    --chart-1: 225 83% 57%;
    --chart-2: 225 4% 80%;
    --chart-3: 225 4% 80%;
    --chart-4: 225 4% 83%;
    --chart-5: 225 86% 57%;
    --radius: 0.5rem;

    --nav: 0 0% 100%;
    --nav-foreground: 0 0% 0%;
  }

  .theme-dark {
    --background: 220 13% 18%;
    --foreground: 219 14% 71%;
    --subtext: 215 14% 34%;
    --disabled: 218 11% 65%;
    --muted: 220 13% 16%;
    --muted-foreground: 219 14% 76%;
    --popover: 220 13% 15%;
    --popover-foreground: 219 14% 81%;
    --card: 220 13% 16%;
    --card-foreground: 219 14% 76%;
    --border: 220 3% 23%;
    --input: 220 3% 26%;
    --primary: 219.62 65.16% 58.05%;
    --primary-foreground: 220 23.08% 97.45%;
    --secondary: 220 3% 25%;
    --secondary-foreground: 220 3% 85%;
    --accent: 220 13% 33%;
    --accent-foreground: 220 13% 93%;
    --destructive: 4 98% 50%;
    --destructive-foreground: 0 0% 100%;
    --ring: 220 13% 86%;
    --chart-1: 220 13% 86%;
    --chart-2: 220 3% 25%;
    --chart-3: 220 13% 33%;
    --chart-4: 220 3% 28%;
    --chart-5: 220 16% 86%;

    --nav: 220 13% 16%;
    --nav-foreground: 219 14% 76%;
  }
}

html,
body,
#root {
  height: 100%;
  overflow: hidden;
  font-size: 12px;
  font-family: SourceHanSansCN-Regular, system-ui, Avenir, Helvetica, Arial,
    sans-serif;

  @media screen and (min-width: 1440px) {
    /* font-size: 14px; */
  }
}

.un-spin {
  appearance: textfield !important;
  -moz-appearance: textfield !important;
  -webkit-appearance: textfield !important;
}

.un-spin::-webkit-outer-spin-button,
.un-spin::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button:disabled {
  cursor: not-allowed;
}

/* .xterm-viewport::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.xterm-viewport::-webkit-scrollbar-track {
  opacity: 0;
  border-radius: 0px;
}

*/
body::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb:active {
  background-color: rgba(0, 0, 0, 0);
}

@keyframes gradient-move {
  0% {
    background-position: 200% 50%;
  }

  100% {
    background-position: -100% 50%;
  }
}

.animate-gradient-move {
  animation: gradient-move 8s linear infinite;
}